Weather Forecast.json
{
  "name": "Weather Forecast",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -176
      ],
      "id": "87c175af-1976-41db-a3ad-c8e698a8b0ff",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "cityName": "={{ $json.city }}"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        448,
        -176
      ],
      "id": "5a4fedca-a1c2-45cc-9eba-847a52351c6b",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "BH7OhBCeFzNbAEP7",
          "name": "OpenWeatherMap account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"city\": \"San Francisco\" \n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -176
      ],
      "id": "56a08c43-764c-4107-8a1f-36bd633e2bdf",
      "name": "Configure City"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\nconst date = new Date().toDateString();\nconst city = data.name;\nconst temp = data.main.temp;\nconst temp_feels = data.main.feels_like;\nconst humidity = data.main.humidity;\nconst wind = data.wind.speed;\nconst condition = data.weather[0].description.toLowerCase();\n\nlet alert = \"none\";\nif (/mist|rain|snow|drizzle|storm|thunder/.test(condition)) alert = \"Precipitation!! Rain Expected Today, Take an Umbrella on your way out.\";\nelse if (temp_feels > 32) alert = \"Heat!! Drink more water, Stay Hydrated\";\nelse if (temp_feels < 0) alert = \"Frost!! It's freezing outside.\";\n\nconst summary = `Today's Weather in ${city}!\\n Temperature is ${temp} °C but it feels like ${temp_feels} °C\\n Humidity is ${humidity}%\\n with Wind speeds of ${wind} km/hr\\nAlert!!: ${alert !== \"none\" ? alert : \"Day is good!! Enjoy!\"}`;\n\nreturn [{\n  json: {\n    city,\n    date,\n    temperature: temp,\n    temperature_unit: \"°C\",\n    condition,\n    humidity,\n    wind_speed: wind,\n    alert_type: alert,\n    summary,\n    raw_response: data\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -176
      ],
      "id": "f3fedfd0-3dd4-4ae0-956a-9ec95a0f5a95",
      "name": "Alert Rules"
    },
    {
      "parameters": {
        "tableId": "weather_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "city",
              "fieldValue": "={{ $json.city }}"
            },
            {
              "fieldId": "temperature",
              "fieldValue": "={{ $json.temperature }}"
            },
            {
              "fieldId": "temperature_unit",
              "fieldValue": "={{ $json.temperature_unit }}"
            },
            {
              "fieldId": "condition",
              "fieldValue": "={{ $json.condition }}"
            },
            {
              "fieldId": "humidity",
              "fieldValue": "={{ $json.humidity }}"
            },
            {
              "fieldId": "wind_speed",
              "fieldValue": "={{ $json.wind_speed }}"
            },
            {
              "fieldId": "alert_type",
              "fieldValue": "={{ $json.alert_type }}"
            },
            {
              "fieldId": "raw_response",
              "fieldValue": "={{ $json.summary }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        896,
        -176
      ],
      "id": "79a051c8-7cf9-41cf-906a-ce8d92b7b1ae",
      "name": "Add to supabase",
      "credentials": {
        "supabaseApi": {
          "id": "YFMREY56cGUSDvXi",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "recepient@gmail.com",
        "subject": "=Good Morning! Daily weather forecast of {{ $json.city }} - {{ $json.run_at }}",
        "message": "=Hi!\n{{ `\\n `}}\nGood Morning!! {{ $json.raw_response }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1120,
        -176
      ],
      "id": "169985c9-53a6-4a85-a361-ba74b021c121",
      "name": "Send an email",
      "webhookId": "402dbf71-f224-42b8-8906-f7cc70c4e3ca",
      "credentials": {
        "gmailOAuth2": {
          "id": "gXsFY2EiiHE7wCvT",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Configure City",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Alert Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configure City": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Rules": {
      "main": [
        [
          {
            "node": "Add to supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to supabase": {
      "main": [
        [
          {
            "node": "Send an email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c05b4604-67b5-4bbc-b950-df7d7e6c362d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cb57aa2799d3ac"
  },
  "id": "GR5D8jT7hsPDx8xD",
  "tags": []
}
